<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 signup">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<form method="post" action="{$URL}/auth/forgot" class="form-horizontal" name="forgot">
					<div class="row">
						<div class="form-group">
							<label class="col-md-3 control-label">E-mail:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="email" value="" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-4"></div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="g-recaptcha" data-sitekey="{$OPENCAPTCHA}"></div>
								</div>
							</div>
							<div class="col-md-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-xs-3"></div>
						<div class="col-md-4 col-xs-6">
							<div class="form-group">
								<button type="submit" class="btn btn-primary" name="submit">Reset Password</button>
							</div>
						</div>
						<div class="col-md-4 col-xs-3"></div>
					</div>
					<div class="row">
						<div class="col-md-12 col-xs-12">
							{if NOT empty($reset)}
								<div class="help-block alert alert-success">{$reset}</div>
							{/if}	
							{if NOT empty($emailErr)}
								<div class="help-block alert alert-danger">
									<ul>
										{foreach from=$emailErr item=$error}
											<li>{$error}</li>
										{/foreach}
									</ul>
								</div>
							{/if}	
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
