{if isset($user)}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="alert alert-danger">
				<strong>Error!</strong>You are already logged in your account. Please back to your profile <a href="{$URL}/myprofile" class="btn btn-primary">My Profile</a>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
{else}
	<div class="row">
		<div class="col-sm-3 col-md-3"></div>
		<div class="col-sm-6 signup col-md-6">
			<form action="{$URL}/auth/login" method="post" class="form-horizontal" name="register">
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-4">Email:</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" name="email" value="{$email|escape}" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="control-label col-sm-4">Password</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" name="password"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-5">
						<div class="form-group">
							<div class="g-recaptcha" data-sitekey="{$OPENCAPTCHA}"></div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="row">
				<div class="col-sm-3"></div>
					<div class="form-group">
						<div class="col-sm-6 text-center">
							<button type="submit" id="button" class="btn btn-primary" name="submit">Sign In</button>
							<a href="{$URL}/auth/forgot" class="btn btn-primary">Forgot Password</a>
							
							<input type="hidden" id="utcdiff" name="utcdiff" value=""/>
						</div>
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
						{if NOT empty($loginuser)}
							<div class="help-block alert alert-success">{$loginuser|escape}</div>
						{/if}
						{if NOT empty($emailErr)}
							<div class="help-block alert alert-danger">
								<ul>
									{foreach from=$emailErr item=$error}
										<li>{$error}</li>
									{/foreach}
								</ul>
							</div>
						{/if}
					</div>
					<div class="col-sm-3"></div>
				</div>
				<div class="col-sm-4"></div>
			</form>
		</div>
		<div class="col-sm-3 col-md-3"></div>
	</div>
{/if}
	