
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{if empty($user)}
			<div class="alert alert-danger">
				<strong>You are not logged in !!! You will be redirect to login page</strong>
			</div>
		{else }
			<div class="alert alert-success">
				<strong>Success!</strong>{$user}
				<a href="auth/logout" class="btn btn-primary">Log Out</a>
			</div>	
		{/if}
		{if isset($utcdiff)}
		<p>{$utcdiff} minutes difference bewtween UTC time;</p>
		{/if}
	</div>
	<div class="col-md-3"></div>
</div>
