{if NOT empty($tokenErr)}
	<div class="help-block alert alert-danger">{$tokenErr} |<a href="{$URL}/auth/forgot">Forgot Password</a>| and request new link to your email</div>
{else}	
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 signup">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<form method="post" action="{$URL}/auth/reset?token={$tokenkey}" class="form-horizontal" name="forgot">
						<div class="row">
							<div class="form-group">
								<label class="col-md-3 control-label">Password:</label>
								<div class="col-md-9">
									<input type="password" class="form-control" name="password" value="" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Repeat Password:</label>
								<div class="col-md-9">
									<input type="password" class="form-control" name="repassword" value="" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-4"></div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="g-recaptcha" data-sitekey="{$OPENCAPTCHA}"></div>
									</div>
								</div>
								<div class="col-md-2"></div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-3"></div>
							<div class="col-md-4 col-xs-6">
								<div class="form-group">
									<button type="submit" id="button" class="btn btn-primary" name="submit">Renew Password</button>
								</div>
							</div>
							<div class="col-md-4 col-xs-3"></div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xs-12">
								{if NOT empty($success)}
									<div class="alert alert-success col-sm-12"><p>{$success}</p></div>
								{/if}
								{if NOT empty($fail)}
									<div class="alert alert-danger col-sm-12"><p>{$fail}</p></div>
								{/if}	
								{if NOT empty($passErr)}
									<div class="help-block alert alert-danger">
										<ul>
											{foreach from=$passErr item=$error}
												<li>{$error}</li>
											{/foreach}
										</ul>
									</div>
								{/if}	
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
{/if}