<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<link href="./css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="container">
	{if isset($user) }
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="alert alert-danger"><strong>Error!</strong>You are already registered. Please back to your profile <a href="myprofile.php" class="btn btn-primary">My Profile</a></div>
			</div>
			<div class="col-md-3"></div>
		</div>
	{else if NOT isset($user) }
		<div class="row">
			<div class="col-md-3 col-sm-3"></div>
			<div class="col-md-6 signup col-sm-6">
				<form action="index.php" method="post" class="form-horizontal" name="register">
					<div class="row">
						<div class="form-group {if !empty($firstnameErr)}has-error{/if}">
							<label class="control-label col-sm-4">FirstName:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" value="{$firstname}" name="firstname"/>
								{if isset($firstnameErr)}
									<div class="help-block alert alert-danger">{$firstnameErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($lastnameErr)}has-error{/if}">
							<label class="control-label col-sm-4">LastName:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="lastname"/ value="{$lastname}">
								{if isset($lastnameErr)}
									<div class="help-block alert alert-danger">{$lastnameErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($ageErr)}has-error{/if}" >
							<label class="control-label col-sm-4">Age:</label>
							<div class="col-sm-6">
								<input type="number" class="form-control" name="age"/ value="{$age}">
								{if isset($ageErr)}
									<div class="help-block alert alert-danger">{$ageErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($countryErr)}has-error{/if}">
							<label class="control-label col-sm-4">Country:</label>
							<div class="col-sm-6">
								<select type="text" class="form-control" name="country" value="{$country}">
									<option value="selected" {if NOT mb_strlen($country)}selected{/if} disabled>Please choose country</option>
									<option value="Bulgaria" {if $country==="Bulgaria"}selected{/if}>Bulgaria</option>
									<option value="England" {if $country==="England"}selected{/if}>England</option>
									<option value="USA" {if $country==="USA"}selected{/if}>USA</option>
									<option value="Roumania" {if $country==="Roumania"}selected{/if}>Roumania</option>
									<option value="Serbia" {if $country==="Serbia"}selected{/if}>Serbia</option>
								</select>
								{if isset($countryErr)}
									<div class="help-block alert alert-danger">{$countryErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($cityErr)}has-error{/if}">
							<label class="control-label col-sm-4">City:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="city" value="{$city}"/>
								{if isset($cityErr)}
									<div class="help-block alert alert-danger">{$cityErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($addressErr)}has-error{/if}">
							<label class="control-label col-sm-4">Address:</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="address" value="{$address}"/>
								{if isset($addressErr)}
									<div class="help-block alert alert-danger">{$addressErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($emailErr)}has-error{/if}">
							<label class="control-label col-sm-4">E-mail Address</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" name="email" value="{$email}"/>
								{if isset($emailErr)}
									<div class="help-block alert alert-danger">{$emailErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group {if !empty($passwordErr)}has-error{/if}">
							<label class="control-label col-sm-4">Password</label>
							<div class="col-sm-6">
								<input type="password" class="form-control" name="password"/>
								{if isset($passwordErr)}
									<div class="help-block alert alert-danger">{$passwordErr}</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="control-label col-sm-4">Repeat Password</label>
							<div class="col-sm-6">
								<input type="password" class="form-control" name="repassword"/>
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-6">
							<div class="form-group">
								<div class="g-recaptcha" data-sitekey="6LfpnREUAAAAAJ6Jwg6CoWx7X9tx0mQp9G0PL-8u"></div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="form-group center-block">
							<div class="col-xs-1 col-sm-4"></div>
							<div class="col-xs-10 col-sm-6">
								<button type="submit" class="btn btn-primary" name="signup">Sign Up </button>
								<button type="reset" class="btn btn-primary" name="reset">Reset</button>
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
					<div class="row">
						<div class="form-group center-block">
							<div class="col-sm-2"></div>
							<div class="col-xs-12 col-sm-8">
								{if NOT empty($signup)}
									<div class="alert alert-success col-sm-12"><p>{$signup}</p></div>
								{/if}
								{if NOT empty($validateErr)}
									<div class="help-block alert alert-danger">
										<ul>
											{foreach from=$validateErr item=error}
												<li>{$error}</li>
											{/foreach}
										</ul>
									</div>
								{/if}
							</div>
							<div class="col-sm-2"></div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-3 col-sm-3"></div>
		</div>
	{/if}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
